* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f8efb8;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container-calc {
  width: 420px;
  height: 500px;
  background: #000;
}

.container-calc .screen {
  width: 90%;
  padding: 30px 0px;
  margin: auto;
}

.container-calc .screen p {
  width: 100%;
  height: 54px;
  background: #fff;
  font-size: 30px;
  text-align: end;
  padding: 10px;
}

.buttons-calc {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.buttons-calc .card {
  display: flex;
  height: 70px;
  gap: 5px;
}

.buttons-calc button {
  width: 90px;
  height: 70px;
  border: none;
  color: #fff;
  background: #181717;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
  transition: all 150ms ease;
}

.buttons-calc button:active {
  transform: scale(0.95);
}

.buttons-calc .card-diferent {
  display: flex;
  gap: 5px;
  width: 280px;
}

.card-diferent #zero {
  width: 185px;
}

.card #equal {
  height: 145px;
}
